.visual-block {
    margin: 0 auto 2.5em auto;
    position: relative;

    border-radius: 0.2em;
    overflow: hidden; // for rounded-corners
    word-break: break-all;

    border: 1px solid #dfe0e4;
    // border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    background-color: #fff;

    .title-bar {
        padding: 0.5em 1em;
        margin: 0;

        border-color: #eaeaed;
        border-style: inherit;
        border-width: 0;
        border-bottom-width: inherit;

        color: #596771;
        background-color: #f7fdff;

        h2, h3, h4 {
            line-height: 1.5;
            font-size: 15px;
            display: inline-block;
            vertical-align: middle;

            padding: 0.25em;
            margin: -0.25em;

            font-weight: bold;
        }

        .button,
        ._button {
            margin-left: 1.5em;
        }
    }

    .content-frame {
        padding: 1em;
        color: #666;

        & > .content {
            position: relative;
            padding: 1em;
            margin: -1em;
        }
    }
}