html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
	border-width: 0;
	border-style: solid;
}
hr {
	border-style: solid;
}
div::before, span::before, i::before, sub::before, sup::before, p::before, 
div::after , span::after , i::after , sub::after , sup::after , p::after , 
a::before, button::before, hr::before, label::before,
a::after , button::after , hr::after , label::after ,
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before, 
h1::after , h2::after , h3::after , h4::after , h5::after , h6::after , 
blockquote::before, ul::before, ol::before, li::before, dl::before, dt::before, dd::before,
blockquote::after , ul::after , ol::after , li::after , dl::after , dt::after , dd::after  {
	border-width: inherit;
	border-style: inherit;
}




.button, .button::before, .button::after,
div, span, button, input, ol, ul, li, p, a, em,
div::before, span::before, button::before, input::before, ol::before, ul::before, li::before, p::before,
div::after , span::after , button::after , input::after , ol::after , ul::after , li::after , p::after {
	// -webkit-transition-property: -webkit-transform, visibility, opacity, color, background-color, border-color;
			transition-property:         transform, visibility, opacity, color, background-color, border-color;
	// -webkit-transition-duration:             0.33s,      0.33s,   0.33s, 0.20s,            0.30s,        0.30s;
			transition-duration:             0.33s,      0.33s,   0.33s, 0.20s,            0.30s,        0.30s;
	// -webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
	/* ie9 doesn't support css transition but does support css -ms-transform */
}




html {
	font-size: 20px;
}

body {
	line-height: 1.5;
	font-size: 16px;
	font-size: 0.8rem;


	/*  The 3 lines below are for ".row" full width
		even if some content is wider than browser window.
	 */
	display: inline-block;
	width: auto;
	min-width: 100%;

	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

a {
	font-size: inherit;

	&,
    &:link {
		text-decoration: none;
	}

	&:link {
		cursor: pointer;
	}

	&:hover {
		text-decoration: underline;
	}

	&.button,
    &.button:hover {
		text-decoration: none;
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-size: 12px;
	/* font-weight: lighter; */
	font-style: normal;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 12px;
	/* font-weight: lighter; */
	font-style: normal;
	opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 12px;
	/* font-weight: lighter; */
	font-style: normal;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	/* font-weight: lighter; */
	 font-style: normal; 
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
input[type="search"]::-ms-clear {
	display: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner { /* remove firefox default extra paddings as well as dotted lines */
    margin: 0;
	padding: 0;
	border-width: 0;
}


input, textarea, select, option, button, .button {
    box-sizing: content-box;
    margin: 0.5em;
    padding: 0.5em;
    border-width: 1px;

	font-size: inherit;
	border-color: black;
	background-color: transparent;
    line-height: normal;
    border-style: solid;

    display: inline-block;
    vertical-align: top;
}

.button,
button,
label, 
select,
textarea,
input,
a {
    &,
    &:active,
    &:focus {
        outline-offset: -1px;
        outline-width: 1px;
        outline-style: none;
    }
}

a.button,
 .button,
  button {
    > .label,
    >  label {
        &
        &:active,
        &:focus {

            outline-offset: -1px;
            outline-width: 1px;
            outline-style: none;
        }
    }
}

a, select, option,
input[type="submit"], input[type="button"], input[type="reset"], input[type="radio"], input[type="checkbox"],
label[for] {
    cursor: pointer;
}

.button,
 button {
    > .label,
    >  label {
        cursor: pointer;
        display: block; /* for ie8 */
        text-align: center;
    }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

// .title,
dt,
h6,
h5,
h4,
h3,
h2,
h1 {
	text-indent: 0;
}

.article, // for small text blocks, such as floating info tips
 article {
    ul {
        padding-left: 2.5em;
        list-style: disc;
    }

    ol {
        padding-left: 2.5em;
        list-style: decimal;
    }

    li {
        margin: 0.75em 0;
    }

    p {
        padding: 0.25em 0.5em;
        margin: 0em -0.5em;
        line-height: 1.5;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote::before, q::before,
    blockquote::after , q::after {
        content: none;
    }
}