<!-- build:css ./css/marketingAccountManagement/index.min.css -->
<link rel="stylesheet" id="CACHE_CSS" href="/v2/css/marketingTradingDetails/index.scss" />
<link rel="stylesheet" href="/v2/css/datepicker.css"/>
<!-- endbuild -->

<div class="breadCrumbs">
    <div class="mainWrap">
        <h1 class="mainTitle">交易记录明细</h1>
    </div>
</div>

<div class="mainWrap">
    <div ng-controller="marketingTradingDetailsQueryControls"
        class="section visual-block">
        <div class="content-frame">
            <div class="section query-controls">
                <form ng-submit="submitQuery()">
                    <div class="form-row"
                        ><div class="form-label-cell"
                            ><span class="form-label">交易时间</span
                        ></div
                        ><div class="form-input-cell"
                            ><input id="queryStartDate"
                                type="text" readonly
                                datepicker ng-model="queryData.requestStartDate"
                            ><span class="form-label">至</span
                            ><input id="queryEndDate"
                                type="text" readonly
                                datepicker ng-model="queryData.requestEndDate"
                        ></div
                    ></div>

                    <div class="form-row buttons-row">
                        <button class="_button orange" type="submit"
                            >查询</button>
                    </div>
                </form>
            </div>

            <marketing-records-list template-keyword="trading" records="records"
                should-show-index-column="true"
                first-index="currentRecordSetStartIndex"
                ></marketing-records-list>

            <div page-nav class="_big pagination"
                ng-show="pagination.totalPagesCount > 1"
                current-page="{{pagination.currentPageIndex}}"
                total-pages="{{pagination.totalPagesCount}}"
                skip-fn="getRecordsOfPage"
                ></div>
        </div>
    </div>
</div>