.row {
	& > .ie-bg {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-size: cover;
	}

	& > .ie-bg {
		overflow: hidden;
		position: absolute;
		text-align: center;
		width: 100%;
		height: 100%;
		left: 50%;
		top: 0;
		margin-left: -50%;
		z-index: 0;
	}
}