.row {
	position: relative;
	display: block;
	clear: both;
	float: none;
	padding-top: 0!important;
	padding-bottom: 0!important;

	&,
	&::before {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-size: cover;
	}
}


.width-wrap {
	box-sizing: content-box;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	float: none;
	z-index: 1;
	padding: 0;
}


.content {
	background-color: transparent;
}
