.stage.ppt {
	color: white;

	.background-heros-container {
		position: fixed;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
	}

	canvas.bg {
		width: 100%;
		height: 100%;

		&.bg-rendering-source {
			position: fixed;
			left: 0;
			top: 0;
		}
	}

	.bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		padding: 0;

		&.bg-1 {
			background-image: url(images/bg.jpg);
		}
	}
}
