$page-name: 'page-2';

.ppt-#{$page-name} {
    .bg-circuit-borad {
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        margin: 0;
        background-size: 100% auto;
        background-position: top;
        background-image: url(images/ppt-2-circuit-borad.png);
    }


    $hanging-sphere-rope-length: 10rem;
    $hanging-sphere-element-size: 16rem;
    $hanging-sphere-content-size: 0.75 * $hanging-sphere-element-size;

    $actor-name: 'hanging-sphere-position';
    .locator.actor.#{$actor-name} {
        z-index: 5;

        left: 50%;
        top: -0.5 * $hanging-sphere-rope-length;


        $actor-name: 'hanging-sphere-rotation';
        .locator.actor.#{$actor-name} {
            left: 0;
            top: 0;

            .hanging-rope {
                display: block;
                width: 0.2rem;
                height: $hanging-sphere-rope-length;

                position: absolute;
                top: 0;
                left: -0.1rem;
            }



            $actor-name: 'sphere';
            .locator.sphere-locator {
                opacity: 0;
                position: absolute;
                top: $hanging-sphere-rope-length + 0.5 * $hanging-sphere-content-size;
                left: -0.5 * $hanging-sphere-element-size;

                @keyframes #{$page-name}-#{$actor-name}-locator-entering {
                    0%   { opacity: 0; transform: translateY(  5.1rem); }
                    40%  { opacity: 1; transform: translateY(-0.45rem); }
                    60%  {             transform: translateY( 0.23rem); }
                    80%  {             transform: translateY(-0.05rem); }
                    100% { opacity: 1; transform: translateY(    0   ); }
                }

                &.acting.entering {
                    animation-delay: 0.2s;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    animation-timing-function: linear;
                    animation-name: #{$page-name}-#{$actor-name}-locator-entering;
                }

                @keyframes ppt-page-2-sphere-rotating-slowly {
                    0% { transform: rotateZ(  0   ); }
                    to { transform: rotateZ(360deg); }
                }                

                @keyframes ppt-page-2-sphere-deco-rotating-slowly {
                    0% { transform: rotateZ(   0   ); }
                    to { transform: rotateZ(-360deg); }
                }                

                .sphere {
                    width: $hanging-sphere-element-size;
                    height: $hanging-sphere-element-size;
                    background-image: url(images/ppt-2-sphere.png);
                    animation-name: ppt-page-2-sphere-rotating-slowly;
                    animation-duration: 50s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    z-index: 2;
                }

                .sphere-deco {
                    width: $hanging-sphere-element-size;
                    height: $hanging-sphere-element-size;
                    background-image: url(images/ppt-2-sphere-with-deco.png);
                    animation-name: ppt-page-2-sphere-deco-rotating-slowly;
                    animation-duration: 100s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    z-index: 1;
                }
            }
        }
    }


    .do-you-know {
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: 6rem;
        margin: 0;

        p {
            color: #eaba66;
            font-size: 1.2rem;
        }

        p.rolling-items {
            margin: 0;
            padding: 0;
            text-align: center;
            height: 100%;
            perspective: 5rem;

            .actor, .locator {
                display: block;
                height: 100%;
                left: 0;
                right: 0;
                top: 0;
                transform-style: preserve-3d;
            }


            // .actor.all-items-rotation 和 .actor.change-opacity
            // 的动画定义过于复杂，SASS难以实现，所以改由JavaScript生成。
            // 详见：index.js  stage2.createPPT2RollingItemsCSSAnimations() 方法。
            // .locator.position-locator {

            //     .actor.all-items-rotation {

            //         .locator.transformation-compensation {

            //             .actor.change-opacity {
            //             }
            //         }
            //     }
            // }
        }
    }
}
