.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	text-align: center;

    &.iconfont {
        display: inline-block;
        min-width: 1em;
        min-height: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        vertical-align: middle;
	}

	&.icon-in-bg {
		background-repeat: no-repeat;
		transition-duration: 0.6s;
		transition-timing-function: ease-out;
		transition-property: background-position, color;
	}
}