$popup-window-showing-animation-duration: 0.45s;
$popup-window-leaving-animation-duration: 0.45s;

.popup-window {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	left: 0;
	top: 0;
	max-width: 80%;
	max-height: 90%;
	min-width: 100px;
	min-height: 100px;
	text-align: left;
	white-space: normal;
	overflow: visible; /* for dialog box-shadow */

	z-index: 2; /* for keeping on top of sibling back-plate */

	transition-property: none;

	animation-fill-mode: both;
	transform-origin: center 30%;

	&.cast-shadow {
		box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 1);
	}

	& > .content {
		overflow: hidden;
	}

	.dialog {
		display: none;
		overflow: auto;
	}

	&.has-dialog {
		min-width: 300px; /* global default value */

		.dialog {
			display: block;
		}
	}

	:root &.has-dialog {
		max-width: none \0; /* ie9 randomly redraw "inline-block" popup-window, using the max-width as the actual width of the popup-window */
	}


	&.full-screen {
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		max-width: 768px;
		max-height: 100%;
		margin: 0 auto;
		box-shadow: none;

		.dialog {
			display: block;
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			box-shadow: none;
		}
	}


	.popup-layer.polite-message & {
		margin: auto;
		box-sizing: border-box;
		width: auto;
		height: auto;
		padding: 0.25rem 1rem;
		min-width: 7.5em;
		max-width: 85%;
		min-height: 2rem;
		max-height: none;
		border-radius: 1rem;
		text-align: center;
		transform: translateY(-100%);
		animation-name: popup-polite-message-shows-up-from-bottom;

		& article {
			padding: 0.15rem 0.15rem;
		}

		& p {
			margin: -0.25em;
		}
	}






	// animation definitions
	$popup-window-animation-verb: shows-up-from;
	$popup-window-animation-name-prefix: popup-window-#{$popup-window-animation-verb};
	$animation-base-name: null;
	&.showing {
		animation-duration: $popup-window-showing-animation-duration;
		animation-timing-function: ease-out;

		@each $direction in top, bottom, leftside, rightside, top-left, top-right, bottom-left, bottom-right {
			$animation-base-name: #{$popup-window-animation-name-prefix}-#{$direction};

			&.#{$popup-window-animation-verb}-#{$direction} {
				animation-name: regular-#{$animation-base-name};

				// &.tiny-window {
				// 	animation-name: tiny-#{$animation-base-name};
				// }

				// &.tall-window {
				// 	animation-name: tall-#{$animation-base-name};
				// }
			}
		}

		&.tall-window {
			@each $direction in bottom {
				$animation-base-name: #{$popup-window-animation-name-prefix}-#{$direction};

				&.#{$popup-window-animation-verb}-#{$direction} {
					animation-name: tall-#{$animation-base-name};
				}
			}
		}

		.popup-layer.polite-message & {
			$animation-base-name: popup-polite-message-#{$popup-window-animation-verb};

			@each $direction in bottom {
				animation-name: #{$animation-base-name}-#{$direction};
			}
		}





		@keyframes popup-polite-message-shows-up-from-bottom {
			0% { opacity: 0; transform: translateY(6rem); }
			to { opacity: 1; transform: translateY(-100%); }
		}


		@keyframes regular-#{$popup-window-animation-name-prefix}-top {
			0% { opacity: 0; transform: translateY(-10rem) scale(0.51, 0.51); }
			to { opacity: 1; transform: translateY(0)      scale(1   , 1   ); }
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-bottom {
			0%  { opacity: 0; transform: translateY(40rem)   scale(0.32, 0.32) rotateX(-51deg); }
			84% { opacity: 1; transform: translateY(-0.2rem) scale(1   , 1   ) rotateX(  0deg); }
			92% {             transform: translateY(-0.08rem); }
			to  {             transform: translateY( 0); }
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-leftside {
			0% { opacity: 0; transform: translateX(-7rem) scale(0.51, 0.51); }
			to { opacity: 1; transform: translateX(0)     scale(1   , 1   ); }
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-rightside {
			0% { opacity: 0; transform: translateX(7rem) scale(0.51, 0.51); }
			to { opacity: 1; transform: translateX(0)    scale(1   , 1   ); }
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-top-left {
			0% { opacity: 0; transform: translate(-7rem, -10rem) scale(0.51, 0.51); }
			to { opacity: 1; transform: translate(0, 0)          scale(1   , 1   ); }
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-top-right {
			0% { opacity: 0; transform: translate(7rem, -10rem) scale(0.51, 0.51); }
			to { opacity: 1; transform: translate(0,      0   ) scale(1   , 1   ); }
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-bottom-left {
			0% { opacity: 0; transform: translate(-7rem, 10rem) scale(0.51, 0.51); }
			to { opacity: 1; transform: translate(0, 0)         scale(1   , 1   ); }
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-bottom-right {
			0% { opacity: 0; transform: translate(7rem, 10rem) scale(0.51, 0.51); }
			to { opacity: 1; transform: translate(0, 0)        scale(1   , 1   ); }
		}


		@keyframes tall-#{$popup-window-animation-name-prefix}-bottom {
			0%  { opacity: 0; transform: translateY(40rem)    scale(0.32, 0.32) rotateX(-51deg); }
			84% { opacity: 1; transform: translateY(-0.15rem) scale(1   , 1   ) rotateX(  0deg); }
			92% {             transform: translateY(-0.05rem); }
			to  {             transform: translateY( 0); }
		}
	}


	$popup-window-animation-verb: leaves-from;
	$popup-window-animation-name-prefix: popup-window-#{$popup-window-animation-verb};
	&.leaving {
		animation-duration: $popup-window-leaving-animation-duration;
		animation-timing-function: ease-in;

		@each $direction in above {
			$animation-base-name: #{$popup-window-animation-name-prefix}-#{$direction};

			&.#{$popup-window-animation-verb}-#{$direction} {
				animation-name: regular-#{$animation-base-name};

				&.tiny-window {
					animation-name: tiny-#{$animation-base-name};
				}

				&.tall-window {
					animation-name: tall-#{$animation-base-name};
				}
			}
		}

		@keyframes regular-#{$popup-window-animation-name-prefix}-above {
			0%   {             transform-origin: center 40%; transform:                                 rotateX( 0deg); }
			10%  {                                           transform: translate3d(0,    0rem,  -1rem) rotateX(-6deg); }
			60%  { opacity: 1;                               transform: translate3d(0,    0rem, -15rem) rotateX( 0deg); }
			100% { opacity: 0; transform-origin: center 40%; transform: translate3d(0,  -79rem, -15rem); }
		}


		@keyframes tiny-#{$popup-window-animation-name-prefix}-above {
			0%   {             transform-origin: center 40%; transform:                                rotateX(-8deg); }
			20%  {                                           transform:                                rotateX( 4deg); }
			66%  { opacity: 1;                               transform: translate3d(0,    0rem, -8rem);                }
			100% { opacity: 0; transform-origin: center 40%; transform: translate3d(0,  -79rem, -8rem) rotateX( 0deg); }
		}


		@keyframes tall-#{$popup-window-animation-name-prefix}-above {
			0%   {             transform-origin: center 40%; transform:                                   rotateX(  0deg); }
			// 15%  {                                           transform: translate3d(0,    0rem,  -2.5rem) rotateX(-10deg); }
			65%  { opacity: 1;                               transform: translate3d(0,    0rem, -15rem)   rotateX(  0deg); }
			100% { opacity: 0; transform-origin: center 40%; transform: translate3d(0,  -79rem, -15rem); }
		}
	}
}
