.tabular.cashing-records {

    th,
    td,
    .cell {

        &.request-timestamp {
            width: 14%;
        }
        &.request-type {
            width: 12%;
        }
        &.amount {
            width: 12%;
            text-align: right;
            padding-right: 2em;
        }
        &.status {
            width: 10%;
        }
        &.payment-timestamp {
            width: 14%;
        }
        &.approval-result {
            width: 10%;
        }
        &.approval-advice {
            width: auto;
        }
    }
}
