.tabular.trading-records {

    th,
    td,
    .cell {

        &.timestamp {
            width: 14%;
        }
        &.type {
            width: 12%;
        }
        &.amount {
            width: 12%;
            text-align: right;
            padding-right: 2em;
        }
        &.balance {
            width: 12%;
            text-align: right;
            padding-right: 2em;
        }
        &.activity {
            width: 16%;
        }
        &.remark {
            width: auto;
        }
    }
}
