.tabular.activities-records {

    th,
    td,
    .cell {

        &.name {
            width: 21%;
        }
        &.amount {
            width: 12%;
            text-align: right;
            padding-right: 2em;
        }
    }
}
