<h3>提现申请</h3>

<div class="stage-1" ng-show="currentStageIndex === 1">
    <div class="notification-bar">
        <p>自2017年4月1日起，应向贵司支付的营销商务政策费用将由我司全资子公司上海赢科信息技术有限公司来支付，具体信息可见发票栏。请按照新要求开具发票。还未反馈回执的请尽快反馈，谢谢。</p>
    </div>

    <div class="loading-hint" ng-if="recordsAreNotReady">loading...</div>

    <div class="columns" ng-if="recordsAreReady"
        ><div class="col col-left">
            
            <ul class="tabular trans-records">
                <li ng-repeat="record in records"
                    ><span class="label">{{ record.mktName }}</span
                    ><em class="value">{{ record.fees | currency: '¥' }}</em
                ></li>
            </ul>
        </div
        ><div class="col col-right icon-cash">
            <span class="label">可提现金额</span>
            <em class="value" ng-if="hasRecords">{{ usedRecord.cashAmount | currency: '¥' }}</em>
        </div
    ></div>

    <div class="dialog-footer">
        <button class="_button orange"
            ng-click="showDrawingCashForm()"
            ng-disabled="recordsAreNotReady"
            >全部提取</button>
    </div>
</div>

<div class="stage-2" ng-show="currentStageIndex === 2">
    <form ng-submit="submit()" class="labels-align-right">
        <div class="form-row">
            <div class="form-label-cell"><span class="form-label">账户类型</span></div>
            <div class="form-input-cell">
                <input type="text" readonly="readonly" value="{{ formData.accountType }}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label-cell"><span class="form-label">提取金额</span></div>
            <div class="form-input-cell">
                <input type="text" readonly="readonly" value="{{ formData.cashAmount }}">
                <!--<span class="usable-money hide">金额不能超过最大可提取金额</span>-->
            </div>
        </div>

        <div class="form-row">
            <div class="form-label-cell"><span class="form-label">银行卡号</span></div>
            <div class="form-input-cell menu-3d-transform-perspective-origin">
                <input type="text" required
                    ng-model="formData.accountNumber"
                    ng-disabled="isWaitingForNetwork"

                ><button class="_button orange" type="button"
                    ng-disabled="isWaitingForNetwork"
                    ng-click="toggleBankAccountCandidatesList()">选择</button

                ><span class="tip">(若无可选银行卡号可手动录入)</span>

                <ul class="menu bank-account-candidates"
                    ng-show="bankAccountCandidatesListIsShowing && !isWaitingForNetwork"
                    ng-class="{
                        'ng-enter': bankAccountCandidatesListIsShowing
                    }">
                    <li ng-repeat="bankAccount in bankAccounts"
                        ng-click="chooseBankAccountCandidate(bankAccount)">
                        <span class="name" >{{ bankAccount.name }}</span>
                        <span class="value">{{ bankAccount.value }}</span>
                        <span class="code" >{{ bankAccount.code }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-row">
            <div class="form-label-cell"><span class="form-label">开户银行</span></div>
            <div class="form-input-cell">
                <select required ng-model="accountBankName">
                    <option ng-repeat="bank in openingBanks" value="{{ bank }}">{{ bank }}</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-label-cell"><span class="form-label">开户支行</span></div>
            <div class="form-input-cell">
                <input type="text" placeholder="录入具体支行"
                    autocomplete="off"
                    required ng-model="accountBankBrank"
                    ng-disabled="isWaitingForNetwork"
                    maxlength="50">

                <div class="tip">为保证您提现准确及时，请您准确填写开户行信息。</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-label-cell"><span class="form-label">发票号</span></div>
            <div class="form-input-cell">
                <input type="text" placeholder="录入发票号"
                    autocomplete="off" novalidate="novalidate"
                    ng-model="formData.invoiceCode"
                    ng-disabled="isWaitingForNetwork">
            </div>
        </div>

        <div class="form-row">
            <div class="form-label-cell"><span class="form-label">快递单号</span></div>
            <div class="form-input-cell">
                <input type="text" placeholder="录入快递单号"
                    autocomplete="off" novalidate="novalidate"
                    ng-model="formData.trackNumber"
                    ng-disabled="isWaitingForNetwork">
                <div class="tip">请录入真实准确的发票及快递信息，否则发票丢失所导致的损失将由贵店承担，多谢配合。</div>
            </div>
        </div>

        <input type="hidden" ng-model="formData.id">

        <div class="form-row buttons-row">
            <button class="_button orange" type="submit"
                ng-disabled="isWaitingForNetwork"
                >提交</button>
        </div>
    </form>
</div>