<div class="loading-hint" ng-if="!hasNoRecords && !hasRecords">loading...</div>

<p class="empty-content-tip" 
    ng-if="hasNoRecords">{{ emptyRecordsHint || '没有查询到任何相关的数据，请重新查询！' }}</p>

<div class="tabular trading-records"
    ng-if="hasRecords">
    <table>
        <thead>
            <tr>
                <th class="index" ng-if="shouldShowIndexColumn">序号</th>

                <th class="timestamp">交易时间</th>
                <th class="type">交易类型</th>
                <th class="amount">交易金额</th>
                <th class="balance">账户余额</th>
                <th class="activity">营销活动</th>
                <th class="remark">备注</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records"
                ng-class-odd="'odd'"
                ng-class-even="'even'">
                <td class="index" ng-if="shouldShowIndexColumn">{{ $index + firstIndex }}</th>

                <td class="timestamp">{{ record.createTime | date: 'yyyy-MM-dd hh:mm' }}</td>
                <td class="type">{{ record.transType | config: 'transType' }}</td>
                <td class="amount">{{ record.transAmount | currency: '¥' }}</td>
                <td class="balance">{{ record.postAmount | currency: '¥' }}</td>
                <td class="activity">{{ record.marketingName | emptyFormat }}</td>
                <td class="remark">{{ record.remark | emptyFormat }}</td>
            </tr>
        </tbody>
    </table>
</div>