sub {
    font-size: 80%;
    line-height: inherit;
}

em.number {
    font-size: 200%;
    color: $insaic-color-orange;
}

hr.vertical {
    position: absolute;
    z-index: 2;

    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0 -1px 0 0;
    border-width: 0;
    border-style: solid;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        border-style: inherit;
        border-width: 0 0 0 1px;
        border-color: #eee;
        margin: 3em -1px;
    }
}

.loading-hint,
.empty-content-tip {
    padding: 2em;
    text-align: center;
}
