$insaic-button-fg-default-color: #fff;

$insaic-button-disabled-fg: #aaa;
$insaic-button-disabled-bg: #f5f5f5;
$insaic-button-disabled-bg-hover: $insaic-button-disabled-bg;

$insaic-button-gray-fg: #333;
$insaic-button-gray-bg: #e9ebee;
$insaic-button-gray-bg-hover: null; // #f6f7f9;

$insaic-button-orange-fg: #fff;
$insaic-button-orange-bg: $insaic-color-orange;
$insaic-button-orange-bg-hover: null; // $insaic-color-orange-dark;

$insaic-button-red-fg: #fff;
$insaic-button-red-bg: $insaic-color-red;
$insaic-button-red-bg-hover: null; // $insaic-color-red-dark;

$insaic-button-green-fg: #fff;
$insaic-button-green-bg: $insaic-color-green;
$insaic-button-green-bg-hover: null; // $insaic-color-green-dark;

$insaic-button-blue-fg: #fff;
$insaic-button-blue-bg: $insaic-color-blue;
$insaic-button-blue-bg-hover: null; // $insaic-color-blue-dark;

$insaic-warning-fg: #fff;
$insaic-warning-bg: $insaic-color-red;


@mixin insaic-button-basic {
    color: $insaic-button-fg-default-color;
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    padding: 0.25em 1em;
    max-width: 30em;

    border-width: 1px;
    border-style: solid;

    border-radius: 2px;

    line-height: 1.33;
    min-height: 1.33em;
    text-align: center;

    cursor: pointer;
}

@mixin insaic-button-coloring(
    $color-bg,
    $color-bg-hover,
    $text-color: null,
    $how-colors-change-on-hover: 'to-be-darker', // any of ['no-changes', to-be-lighter', 'to-be-darker']
    $how-gradient-colors-change-on-hover: null,  // any of ['no-changes', to-be-lighter', 'to-be-darker', 'swap']
    $should-use-gradient-bg: true,
    $lighter-color-should-be-on-the-above-in-gradient: true
    ) {

    $button-gradient-destination: bottom;

    @if $text-color {
        @if $text-color != $insaic-button-fg-default-color {
            color: $text-color;
        }
    }

    border-color: $color-bg;    
    background-color: $color-bg;

    $gradient-color-1: $color-bg;
    $gradient-color-2: null;

    @if not $color-bg-hover {
        @if $how-colors-change-on-hover == 'to-be-lighter' {

            $color-bg-hover: lighten($color-bg, 8%);

            @if $lighter-color-should-be-on-the-above-in-gradient {
                $gradient-color-1: $color-bg-hover;
                $gradient-color-2: $color-bg;
            } @else {
                $gradient-color-1: $color-bg;
                $gradient-color-2: $color-bg-hover;
            }

        } @else if $how-colors-change-on-hover == 'to-be-darker' {

            $color-bg-hover: darken($color-bg, 8%);

            @if $lighter-color-should-be-on-the-above-in-gradient {
                $gradient-color-1: $color-bg;
                $gradient-color-2: $color-bg-hover;
            } @else {
                $gradient-color-1: $color-bg-hover;
                $gradient-color-2: $color-bg;
            }

        } @else if  $how-colors-change-on-hover == 'no-changes' {

            $color-bg-hover: $color-bg;

        }
    }

    &:hover {
        @if $color-bg-hover != $color-bg {
            background-color: $color-bg-hover;
        }
    }

    @if not $how-gradient-colors-change-on-hover && $how-colors-change-on-hover {
        $how-gradient-colors-change-on-hover: $how-colors-change-on-hover;
    }

    @if $should-use-gradient-bg {        
        @include insaic-gradient-bg(
            $gradient-color-1,
            $gradient-color-2,
            $button-gradient-destination,
            $how-colors-change-on-hover: $how-gradient-colors-change-on-hover
        );
    }
}

button {
    @include insaic-button-basic;
    @include insaic-button-coloring(
        $insaic-button-gray-bg,
        $insaic-button-gray-bg-hover,
        $insaic-button-fg-default-color
    );

    &.gray {
        @include insaic-button-coloring(
            $insaic-button-gray-bg,
            $insaic-button-gray-bg-hover,
            $insaic-button-gray-fg
        );
    }

    &.orange {
        @include insaic-button-coloring(
            $insaic-button-orange-bg,
            $insaic-button-orange-bg-hover,
            $insaic-button-orange-fg
        );
    }

    &.red {
        @include insaic-button-coloring(
            $insaic-button-red-bg,
            $insaic-button-red-bg-hover,
            $insaic-button-red-fg
        );
    }

    &.green {
        @include insaic-button-coloring(
            $insaic-button-green-bg,
            $insaic-button-green-bg-hover,
            $insaic-button-green-fg
        );
    }

    &.blue {
        @include insaic-button-coloring(
            $insaic-button-blue-bg,
            $insaic-button-blue-bg-hover,
            $insaic-button-blue-fg
        );
    }

    &.disabled,
    &:disabled {
        cursor: not-allowed;

        @include insaic-button-coloring(
            $insaic-button-disabled-bg, 
            $insaic-button-disabled-bg-hover,
            $insaic-button-disabled-fg,
            $how-colors-change-on-hover: 'no-changes'
        );
    }
}