.tabular {
    word-break: break-all;
    display: block;
    margin: 0;

    & > table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td,
    .cell {
        text-align: left;
        padding: 0.8em;

        &.index {
            width: 5%;
            text-align: right;
            padding-right: 1em;
        }
    }

    thead,
    .tabular-header {
        color: white;
        background-color: #222;
    }

    tbody tr,
    .tabular-list .tabular-row {
        transition: all 0.3s ease-out;

        &.odd {
            background-color: #f9f9f9;

        }

        &:hover {
            background-color: #fff5e7;
        }
    }

    .section.visual-block .content-frame & {
        margin: -1em;
    }
}